<!-- STORIES LIST -->
<div class="col s8">
    <h2>Stories</h2>
    <div class="card" ng-repeat="story in stories">
        <div class="card-content">
            <span class="card-title black-text">{{story.title}}</span>
            <p>{{story.description}}</p>
        </div>
        <div class="card-action">
            <a ng-href="#/read/{{story.first_fragment}}">Read Story</a>
            <a ng-href="#/edit/{{story.first_fragment}}">Edit</a>
        </div>
    </div>
</div>

<!-- STORIES -->
<div class="col s4">
    <h2>Options</h2>
    <a class="btn" href="#/create">Create Story</a>
</div>